{% extends "base.html" %}

{% block content %}
<div id="define"></div>
<main>
    {% for word in wordlist: %}
        <div class="wordbox">{{ word }}</div>
    {% endfor %}
</main>

<script>
	var wordList = document.getElementsByClassName("wordbox")
	var defBox = document.getElementById("define")
	
	for (var i = 0; i < wordList.length; i++) {
		wordList[i].onclick = function(target) {
			//[].forEach.call(wordList, function(word) { console.log(word.innerHTML) });
			console.log(this.innerHTML);
			console.log("opened")
			defBox.innerHTML = this.innerHTML + '<br><br>Click to close';
			defBox.style.display = "inline";
			defBox.addEventListener("click", clearDiv);
		}
	}
	
	function clearDiv() {
		console.log("closing")
		defBox.style.display = "none";
		defBox.removeEventListener("click", clearDiv);
	}

</script>
{% endblock %}
